.popup__button {
  margin-top: 10%;
  margin-bottom: 37px;
  padding: 0;
  border: 0;
  border-radius: 2px;
  min-width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  z-index: 5;
  cursor: pointer;
  transition: 0.5s;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  opacity: 1;
}
.popup__button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 540px) {
  .popup__button {
    min-width: 238px;
    margin-top: 45px;
    margin-bottom: 25px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
