.profile__edit-button {
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: black;
  padding: 0;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 540px) {
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
    margin-left: 10px;
  }
}
