.element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 282px;
  max-height: 361px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
