.header {
  max-width: 68.75%;
  max-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  margin: 0 auto;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 540px) {
  .header {
    max-width: 100%;
    max-height: 56px;
  }
}
